<div class="col-md-8">
  <h3>Собрать колоду</h3>
  <ul>
    {{#each model.pClass as |pClass|}}
      <li>{{#link-to 'builder.deck' pClass.id}}{{pClass.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
  <h3>Собрать синерджи</h3>
  <ul>
    {{#each model.pClass as |pClass|}}
      <li>{{#link-to 'builder.synergy' pClass.id}}{{pClass.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
  {{outlet}}
</div>
<div class="col-md-4">
  {{twitch-streams streams=model.streams}}
  {{top-five decks=model.topDecks cards=model.topCards synergies=model.topSynergies}}
  {{random-card}}
</div>
