<div class="row">
  <h2 class="text-center">Конструктор колод.</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <label class="glyphicon glyphicon-search"></label>
          </div>
          {{input placeholder='Поиск' value=keyword class='form-control'}}
        </div>
      </div>
      {{list-costs action='updateCost'}}
    </form>
    {{list-classes action='updatePlayerClass' playerClasses=playerClasses}}

    <div class="card-container">
      <button class="btn arrow arrow-left" {{action 'prevSlide'}}>
        <span class="glyphicon glyphicon-arrow-left"></span>
      </button>

      {{#each currentCardsSliced as |card|}}
        <div class="col-md-4">
          <img {{action 'addCardToDeck' card}} class="{{unless card.isActive 'card-disable'}} card-img" src="{{card.img_url}}" alt="{{card.name}}">
        </div>
      {{/each}}

      <button class="btn arrow arrow-right" {{action 'nextSlide'}}>
        <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </div>
    <form>
      <div class="form-group">
        <label for="deck-description">Описание</label>
        {{textarea value=model.deck.description id='deck-description' cols='30' rows='10' class='form-control'}}
      </div>
    </form>
    <h3>Описание:предпросмотр</h3>
    <div class="well onebox-well">
      {{markdown model.deck.description}}
    </div>
    {{outlet}}
  </div>
  <div class="col-md-4">
    <div class="builder-sidebar">
      <form>
        <div class="form-group">
          <label for="deck-name">Название</label>
          {{input type='text' value=model.deck.name class='form-control' id='deck-name'}}
        </div>
        <div class="form-group">
          <label for="deck-type">Тип</label>
          <select onchange= {{action (mut deckTypeId) value='target.value'}} id="deck-type" class="form-control">
            {{#each model.deckTypes as |type|}}
              <option  value="{{type.id}}">{{type.name}}</option>
            {{/each}}
          </select>
        </div>
        <div {{action 'saveDeck'}} class="btn btn-block btn-primary btn-lg">Создать колоду</div>
      </form>
        {{mana-curve deck=model.deck}}

      <div class="well card-list">
        <h3 class="card-list__count pull-right">
          {{model.deck.totalCards}}/30
        </h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-10">Название</th>
              <th class="col-md-2">Мана</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.deck.sortedCards as |builderCard|}}
              <tr class="card-list__item"  {{action 'removeFromDeck' builderCard}}>
                <td class="col-md-10">
                  <b class="{{builderCard.card.rarity}}">{{builderCard.card.name}}</b>
                  <i>{{builderCard.showCount}}</i>
                </td>

                <td class="col-md-2">{{builderCard.card.cost}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

