<div>
  {{#each comments as |comment|}}
    <div class="bordered margin-bottom">
      <i>{{comment.user.email}}</i>
      <div class="pull-right">
        {{vote-comp model=comment}}
      </div>
      <hr>
      {{markdown-onebox text=comment.body}}
    </div>
  {{/each}}

  {{#if currentUser.isLogIn}}
    <form>
      <div class="form-group">
        <label for="comment-body">comment</label>
        {{textarea value=comment class='form-control' id='comment-body'}}
      </div>
      <button {{action 'saveComment'}} class="btn btn-primary">опубликовать</button>
    </form>
    <div class="comment-preview">
      {{markdown-onebox text=comment placeholder=true}}
    </div>

  {{else}}
    <div class="alert alert-success">
      Что бы писать комментарии нужно войти, или зарегистрироваться.
    </div>
  {{/if}}
</div>
