<div>

  {{#if currentUser.isLogIn}}
    <form>
      <div class="form-group">
        {{textarea value=comment class='form-control'}}
      </div>
      <button {{action 'saveComment'}} class="btn btn-primary">опубликовать</button>
    </form>
    <div class="comment-preview">
      {{markdown-onebox text=comment placeholder=true}}
    </div>

  {{else}}
    <div class="alert alert-success">
      Что бы писать комментарии нужно войти, или зарегистрироваться.
    </div>
  {{/if}}

  {{#if commentsLoading}}
    <div class="loader"></div>
  {{else}}
    {{#each uniqComments as |comment|}}
      <div class="bordered margin-bottom">
        <b>{{comment.user.email}}</b>, <i>{{formated-date comment.createdAt}}</i>
        <div class="pull-right">
          {{vote-comp model=comment}}
        </div>
        <hr>
        {{markdown-onebox text=comment.body}}
      </div>
    {{else}}
    {{/each}}
    {{infinity-loader queryParams=params model=comments modelName='comment'}}
  {{/if}}

</div>
