<div class="deck-list-item__name pull-left">
  <div class="name"><b>{{#link-to 'deck' deck.id}}{{deck.name}}{{/link-to}}</b></div>
  от {{user-popup user=deck.user}}, {{formated-date deck.createdAt}}
</div>
<div class="deck-list-item__col deck-list-item__className text-center pull-left">
    {{deck.playerClass.name}}
</div>
<div class="deck-list-item__col">
  <ul class="list-unstyled deck-graph pull-left">
    {{#each deck.mana as |mana|}}
      <li class="deck-graph__item"><span class="deck-graph__item-value" style={{mana.styleSize}}></span></li>
    {{/each}}
  </ul>
</div>
<div class="deck-list-item__col pull-left">
  {{deck.deckType.name}}
</div>
{{#if loading}}
  <span class="deck-list-item__hourglass glyphicon glyphicon-hourglass pull-right"></span>
{{else}}
  <span {{action 'showDetails'}} class="pull-right deck-list-item__chevron glyphicon glyphicon-chevron-{{if isDetailed 'down' 'left'}}"></span>
{{/if}}
<div class="deck-list-item__col pull-right">
  {{vote-comp model=deck}}
</div>
<div class="deck-list-item__comment-icon pull-right">
  {{deck.commentsCount}}
  <span class=" glyphicon glyphicon-comment"></span>

</div>
<div class="clearfix"></div>
{{#if isDetailed}}
  <hr>
  <div class="deck-list-item__details">
    <div class="row">
      <div class="col-md-6">
        {{deck-cards deck=deck editable=false}}
      </div>
      <div class="col-md-6">
        <div>
          {{#each deck.mana as |item|}}
            <div class="curve-item">
              <div class="curve-item__count">{{item.value}}</div>
              <div class="curve-item__column" style={{item.styleSize}}></div>
              <div class="curve-item__name">{{item.title}}</div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{#if deck.description}}
      <hr>
      <h3 class="text-center">Описание</h3>
      {{markdown-onebox text=deck.description}}
    {{/if}}
    <hr>
    {{comments-block commentable=deck}}
  </div>
{{/if}}
