<div class="panel panel-default">
  <div class="panel-heading">
    Случайная карта: <b>{{card.name}}</b>
  </div>
  <div class="panel-body">
    <p>{{card.flavor}}</p>
    {{#link-to 'card' card.id}}
      <img class='card__random-card center-block' src="{{if isGold card.img_gold_url card.img_url}}" alt="{{card.name}}">
    {{/link-to}}

    <div class="btn btn-default center-block" {{action 'toggleGold'}}>Показать {{if isGold 'обычную' 'золотую'}}</div>
  </div>
</div>
