<p><i>{{#if card.isLegendary}}Хм, а тебе везет...{{/if}}</i></p>
<p>Случайная карта: <b>{{card.name}}</b></p>
<p>{{card.flavor}}</p>
{{#link-to 'card' card.id}}
  <img class='card__random-card center-block' src="{{if isGold card.img_gold_url card.img_url}}" alt="{{card.name}}">
{{/link-to}}

<div class="btn btn-default center-block" {{action 'toggleGold'}}>Показать {{if isGold 'обычную' 'золотую'}}</div>
