<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group {{if user.errors.email 'has-error' }}">
      <label for="email" class="col-sm-3 control-label">Почта</label>
      <div class="col-sm-9">
        {{input value=currentUser.email class='form-control' type='email' id='email' placeholder='Почта' }}
          {{#each user.errors.email as |error|}}
            <span class="help-block">
              {{error.message}}
            </span>
          {{/each}}
      </div>
    </div>

    <div class="form-group {{if user.errors.password 'has-error' }}">
      <label for="password" class="col-sm-3 control-label">Пароль</label>
      <div class="col-sm-9">
        {{input value=currentUser.password class='form-control' type='password' id='password' placeholder='Пароль' }}
        {{#each user.errors.password as |error|}}
          <span class="help-block">
            {{error.message}}
          </span>
        {{/each}}
      </div>
    </div>

    <div class="form-group {{if user.errors.password_confirmation 'has-error' }}">
      <label for="confirm-password" class="col-sm-3 control-label">Еще разок</label>
      <div class="col-sm-9">
        {{input value=currentUser.passwordConfirmation class='form-control' type='password' id='confirm-password' placeholder='Подтвердите пароль' }}
        {{#each user.errors.password_confirmation as |error|}}
          <span class="help-block">
            {{error.message}}
          </span>
        {{/each}}
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button {{action 'signUp'}} class="btn btn-primary">Подтвердить</button>
</div>
