<div class="panel panel-default">
  <div class="panel-heading">Топ 5</div>
  <div class="panel-body">
    <ul class='list-unstyled'>колод
      {{#each decks as |deck|}}
        <li>
          <div class="pull-right">
            <span class=" glyphicon glyphicon-thumbs-up"></span>
            {{deck.votes}}
            <span class=" glyphicon glyphicon-comment"></span>
            {{deck.commentsCount}}
          </div>
          <div class="top-five__model-name">
            {{#link-to 'deck' deck.id}}
              {{deck.name}}
            {{/link-to}}
          </div>
        </li>
      {{/each}}
    </ul>
    <hr>
    <ul class="list-unstyled"> Синергий
      {{#each synergies as |synergy|}}
        <li>
          <div class="pull-right">
            <span class=" glyphicon glyphicon-thumbs-up"></span>
            {{synergy.votes}}
            <span class=" glyphicon glyphicon-comment"></span>
            {{synergy.commentsCount}}
          </div>
          <div class="top-five__model-name">
            {{#link-to 'synergy' synergy.id}}
              {{synergy.name}}
            {{/link-to}}
          </div>
        </li>
      {{/each}}
    </ul>
    <hr>
    <ul class="list-unstyled"> Карт
      {{#each cards as |card|}}
        <li>
          <div class="pull-right">
            <span class=" glyphicon glyphicon-thumbs-up"></span>
            {{card.votes}}
            <span class=" glyphicon glyphicon-comment"></span>
            {{card.commentsCount}}
          </div>
          <div class="top-five__model-name">
            {{#link-to 'card' card.id}}
              {{card.name}}
            {{/link-to}}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
