<div class="panel panel-default">
  <div class="panel-heading">Стримы</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      {{#each filterStreams as |stream|}}
        <li>
          <a href="http://www.twitch.tv/{{stream.streamerName}}">{{stream.streamerName}}</a>
          <span class="pull-right">{{stream.viewers}} <span class="glyphicon glyphicon-eye-open"></span> </span>
        </li>
      {{else}}
        <li >
          нет стримов
        </li>
      {{/each}}
      {{#if showMore}}
        <li class="text-center twitch-streams__toggle no-select" {{action 'showAll'}}>{{if sliced 'Показать' 'Скрыть'}} стримы</li>
      {{/if}}
    </ul>
  </div>
</div>
