<span {{action 'increaseVote' model}} class="no-select glyphicon glyphicon-thumbs-up vote__plus {{if model.userIncreaseVote 'vote_plus-active'}}"></span>
<b>{{model.votes}}</b>
<span {{action 'decreaseVote' model}} class="no-select glyphicon glyphicon-thumbs-down  vote__minus {{if model.userDecreaseVote 'vote_minus-active'}}"></span>

