<form {{action 'create' on='submit'}}>
  <div class="form-group">
    <label>name</label>
    {{input class='form-control' value=name}}
  </div>
  <div class="form-group">
    <label>body</label>
    {{#yfhs-textarea text=body}}
      {{textarea value=body rows='4' class='form-control comment-block__textarea'}}
    {{/yfhs-textarea}}
  </div>
  <div class="bordered">
    {{markdown-onebox text=body placeholder=true}}
  </div>
  <div class="form-group">
    <label>category</label>
    {{#power-select options=model.guideCategories selected=selectedCategory onchange=(action 'setGC') as |guideCategory|}}
      {{guideCategory.name}}
    {{/power-select}}
  </div>
  <button type="submit" class="btn btn-default">create</button>
</form>
