gc {{#link-to 'new_guide_category' class='btn btn-primary'}}new guide category{{/link-to}}
{{outlet}}
<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>name</th>
    <th>guides</th>
    <th>actions</th>
  </tr>
  </thead>

  <tbody>
  {{#each model as |gc|}}
    <tr>
      <td>{{gc.id}}</td>
      <td>{{#link-to 'guide_category' gc.id}}{{gc.name}}{{/link-to}}</td>
      <td>
        <ul class="list-inline">
          {{#each gc.guides as |guide|}}
            <li>{{#link-to 'guide' guide.id}}{{guide.name}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </td>
      <td>
        <a href="#" {{action 'destroy' gc}}><span class="glyphicon glyphicon-remove"></span></a>
        {{#link-to 'edit_guide_category' gc.id}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
