<div class="col-md-8">

  {{search-cards cards=cards action='addCardToDeck' currentPlayerClass=currentPlayerClass}}
  <hr>
  <form>
    <div class="form-group">
      <label for="deck-description">Описание</label>
      {{#yfhs-textarea text=deck.description}}
        {{textarea value=deck.description id='deck-description' cols='30' rows='10' class='form-control'}}
      {{/yfhs-textarea}}
    </div>
  </form>
  <h3>Описание:предпросмотр</h3>
  <div class="bordered margin-bottom deck-builder__description">
    {{markdown-onebox text=deck.description placeholder=true}}
  </div>
  {{outlet}}
</div>
<div class="col-md-4">
  <div class="builder-sidebar">
    <form>
      <div class="form-group">
        <label for="deck-name">Название</label>
        {{input type='text' value=deck.name class='form-control' id='deck-name'}}
      </div>
      <div class="form-group">
        <label for="deck-type">Тип</label>
        <select onchange= {{action (mut deckTypeId) value='target.value'}} id="deck-type" class="form-control">
          {{#each deckTypes as |type|}}
            <option  value="{{type.id}}">{{type.name}}</option>
          {{/each}}
        </select>
      </div>
      {{#if currentUser.isLogIn}}
        <button {{action 'saveDeck'}} class="btn btn-block btn-primary btn-lg">Coхранить колоду</button>
      {{else}}
        <button disabled="disabled" class="btn btn-block btn-primary btn-lg">Войдите в систему</button>
        <div class="bordered margin-bottom">
          Внимание, эту колоду Вы <b> не сможете сохранить</b>, пожалуйста, войдите или зарегистрируйтесь.
        </div>
      {{/if}}
    </form>
    {{mana-curve deck=deck}}

    <div class="well card-list">
      <h3 class="card-list__count pull-right">
        {{deck.totalCards}}/30
      </h3>
      {{deck-cards deck=deck editable=true action='removeFromDeck'}}
    </div>
  </div>
</div>

