<a href="#" {{action 'toggleOpen'}}>Ваши колоды<span class="caret"></span></a>
<ul class="dropdown-menu my-decks__dropdown">
  {{#if open}}
    {{#each decks as |deck|}}
      <li class="my-decks__name">
        <a href="#">
          {{#link-to 'deck' deck.id}}
            <b class="text-capitalize">{{deck.deckType.name}}-{{deck.playerClass.name}}: </b>{{deck.name}}
          {{/link-to}}

          <div>
            <div class="my-decks__control pull-right">
              <span {{action 'removeDeck' deck}}class=" my-decks__control-item glyphicon glyphicon-remove"></span>
              {{#link-to 'deck_edit' deck.id}}
                <span class="my-decks__control-item glyphicon glyphicon-pencil"></span>
              {{/link-to}}
            </div>
            {{#link-to 'deck' deck.id}}
              <span class="glyphicon glyphicon-thumbs-up"></span>{{deck.votes}}
            {{/link-to}}

            {{#link-to 'deck' deck.id}}
              <span class="glyphicon glyphicon-comment"></span> {{deck.commentsCount}}
            {{/link-to}}

          </div>
        </a>
      </li>
    {{else}}
      Нет дек =(
    {{/each}}
    {{#unless isAllDecks}}
      {{#if moreDecks}}
        <li>
          {{#if loading}}
            <a><i>загрузка...</i></a>
          {{else}}
            <a href="#"{{action 'showAll'}}>Показать все</a>
          {{/if}}
        </li>
      {{/if}}
    {{/unless}}
  {{/if}}
</ul>

