{{yield}}

<a href="/users/{{model.publicNickname}}" {{action 'transition' 'user' model.publicNickname}}>
  {{model.publicNickname}}
</a> {{model.text}}
<a href="/{{model.entity.route}}/{{model.entity.id}}" {{action 'transition' model.entity.route model.entity.id}}>
  {{model.entity.name}}
</a>
