<div class="modal-body">
  <form class="form-horizontal">
    {{#if isNewPasswordError}}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{#each-in newPasswordError as |field msgs|}}
          <b>{{field}}:</b>
          {{#each msgs key='@item' as |msg|}}
            {{msg}}.
          {{/each}}
        {{/each-in}}
      </div>
    {{/if}}

    <div class="form-group  has-feedback
        {{if validations.attrs.password.isDirty (if validations.attrs.password.isValid 'has-success' 'has-error')}}
       ">
      <label for="password" class="col-sm-3 control-label">Пароль</label>
      <div class="col-sm-9">
        {{input value=password class='form-control' type='password' id='password' placeholder='Пароль' }}
        {{#if validations.attrs.password.isDirty}}
          <span class="glyphicon
          {{if validations.attrs.password.isInvalid 'glyphicon-remove' }}
            {{if validations.attrs.password.isValid 'glyphicon-ok' }}
         form-control-feedback" aria-hidden="true"></span>
        {{/if}}
        {{#if validations.attrs.password.isDirty}}
          {{#if validations.attrs.password.isInvalid}}
            <div class="help-block">
              {{validations.attrs.password.message}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>

    <div class="form-group  has-feedback
        {{if validations.attrs.verifiedPassword.isDirty (if validations.attrs.verifiedPassword.isValid 'has-success' 'has-error')}}
       ">
      <label for="confirm-password" class="col-sm-3 control-label">Еще разок</label>
      <div class="col-sm-9">
        {{input value=verifiedPassword class='form-control' type='password' id='confirm-password' placeholder='Подтвердите пароль' }}
        {{#if validations.attrs.verifiedPassword.isDirty}}
          <span class="glyphicon
          {{if validations.attrs.verifiedPassword.isInvalid 'glyphicon-remove' }}
            {{if validations.attrs.verifiedPassword.isValid 'glyphicon-ok' }}
         form-control-feedback" aria-hidden="true"></span>
        {{/if}}
        {{#if validations.attrs.verifiedPassword.isDirty}}
          {{#if validations.attrs.verifiedPassword.isInvalid}}
            <div class="help-block">
              {{validations.attrs.verifiedPassword.message}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button {{action 'createNewPassword'}} class="btn btn-primary" disabled={{unless validations.isValid 'disabled'}}>Подтвердить</button>
</div>

