<div class="modal-body">
  <form class="form-horizontal">
    {{#if isNewPasswordError}}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{#each newPasswordError as |err|}}
          {{err}}.
        {{/each}}
      </div>
    {{/if}}

    <div class="form-group  has-feedback
        {{if validations.attrs.email.isDirty (if validations.attrs.email.isValid 'has-success' 'has-error')}}
       ">
      <label for="email" class="col-sm-3 control-label">Почта</label>
      <div class="col-sm-9">
        {{input value=email class='form-control' type='email' id='email' placeholder='Почта' }}
        {{#if validations.attrs.email.isDirty}}
          <span class="glyphicon
          {{if validations.attrs.email.isInvalid 'glyphicon-remove' }}
            {{if validations.attrs.email.isValid 'glyphicon-ok' }}
         form-control-feedback" aria-hidden="true"></span>
        {{/if}}
        {{#if validations.attrs.email.isDirty}}
          {{#if validations.attrs.email.isInvalid}}
            <div class="help-block">
              {{validations.attrs.email.message}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button {{action 'createNewPassword'}} class="btn btn-primary" disabled={{unless validations.isValid 'disabled'}} >Подтвердить</button>
</div>

