<div class="col-md-3">
</div>
<div class="col-md-6">
  {{#link-to 'dialogs' class='btn btn-default'}}Вернуться к диалогам{{/link-to}}
  {{#link-to 'user' model.dialog.company.publicNickname class='btn btn-primary'}}{{model.dialog.company.publicNickname}}{{/link-to}}
  <div class="private-dialog__messages">
    <button class="btn btn-block btn-default center-block" {{action 'download'}}>еще сообщения</button>
    {{#each sortedMessages as |dm|}}
      {{private-message message=dm.message}}
    {{/each}}
  </div>
    <ul class="nav nav-tabs margin-bottom">
      <li class="{{unless preview 'active'}}">
        <a href="#" {{action 'showTa' preventDefalut=false}}>Написать</a>
      </li>
      <li class="{{if preview 'active' }}">
        <a href="#" {{action 'showPre' preventDefalut=false}}>Предпросмотр</a>
      </li>
    </ul>
    {{#if preview}}
      <div class="bordered margin-bottom">
        {{markdown-onebox text=message placeholder=true}}
      </div>
    {{else}}
      <form>
        {{#yfhs-textarea text=message}}
          {{textarea value=message id='deck-description' cols='15' rows='5' class='form-control'}}
        {{/yfhs-textarea}}
      </form>
    {{/if}}
    <div class="modal-footer">
      <button {{action 'sendMessage'}} type="button" class="btn btn-primary">Отправить сообщение</button>
    </div>

</div>

