<div class="col-md-8">

  {{search-cards action='addCardToSynergy' currentPlayerClass=currentPlayerClass}}
  <hr>
  <form>
    <div class="form-group">
      <label>Описание</label>
      {{#yfhs-textarea text=synergy.description}}
        {{textarea value=synergy.description  cols='30' rows='10' class='form-control'}}
      {{/yfhs-textarea}}
    </div>
  </form>
  <h3>Описание:предпросмотр</h3>
  <div class="bordered margin-bottom deck-builder__description">
    {{markdown-onebox text=synergy.description placeholder=true}}
  </div>
  {{outlet}}
</div>
<div class="col-md-4">
  <div class="builder-sidebar">
    <form>
      <div class="form-group">
        <label for="synergy-name">Название</label>
        {{input type='text' value=synergy.name class='form-control' id='synergy-name'}}
      </div>
      {{#if currentUser.isLogIn}}
        <button {{action 'saveSynergy'}} class="btn btn-block btn-primary btn-lg">Coхранить синергию</button>
      {{else}}
        <button disabled="disabled" class="btn btn-block btn-primary btn-lg">Войдите в систему</button>
        <div class="bordered margin-bottom">
          Внимание, эту синергию Вы <b> не сможете сохранить</b>, пожалуйста, войдите или зарегистрируйтесь.
        </div>
      {{/if}}
    </form>
  </div>
  <div class="well card-list">
    <h3 class="card-list__count pull-right">
      {{synergy.totalCards}}/2(3)
    </h3>
    {{deck-cards deck=synergy editable=true action='removeFromDeck'}}
  </div>
  <ul>
  </ul>
</div>

