{{#link-to 'user' user.id class='usr-link'}}{{user.nickname}}{{/link-to}}
{{#if isShowPopup}}
  <div class="user-popup__popup">
    <div class="user-popup__header">
      <b>{{#link-to 'user' user.id}}{{user.nickname}}{{/link-to}}</b>
      <span class="pull-right"><i>{{online user.updatedAt}}</i></span>
    </div>
    <div class="user-popup__decks">
      {{#each decks as |deck|}}
        <div class="user-popup__deck">
          <div class="user-popup__deck-info">
            <ul class="list-unstyled deck-graph">
              {{#each deck.curveArray as |mana|}}
                <li class="deck-graph__item"><span class="deck-graph__item-value" style={{mana}}></span></li>
              {{/each}}
            </ul>
            <span class="vote_mono">{{vote-comp model=deck}}</span>
            <span class="glyphicon glyphicon-comment"></span> {{deck.commentsCount}}
          </div>
          <div class='user-popup__deck-name'>{{#link-to 'deck' deck.id }}{{deck.name}}{{/link-to}}</div>
        </div>
      {{else}}
        Не собрал ни одной колоды, пока.
      {{/each}}
      {{#if decks}}
        <div class="text-center">{{#link-to 'user.decks' user.id}}все колоды{{/link-to}}</div>
      {{/if}}
    </div>
  </div>
{{/if}}

