<div class="modal-body">
  <form class="form-horizontal">
    {{#if currentUser.isLogInError}}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{currentUser.logInError}}
      </div>
    {{/if}}
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Почта</label>
      <div class="col-sm-9">
        {{input value=currentUser.email class='form-control' type='email' id='email' placeholder='Почта' }}
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Пароль</label>
      <div class="col-sm-9">
        {{input value=currentUser.password class='form-control' type='password' id='password' placeholder='Пароль' }}
      </div>
    </div>
   <div class="form-group">
     <div class="col-sm-offset-3 col-sm-9">
       <div class="checkbox">
           <a {{action 'passwordNew'}}href="#">Забыли пароль?</a>
       </div>
     </div>
   </div>

  </form>
</div>

<div class="modal-footer">
  <a {{action 'signUp'}} href="#">Зарегистрироваться</a> или
  <button {{action 'logIn'}} class="btn btn-primary">Войти</button>
</div>

