<div class="modal-body">
  <form class="form-horizontal">

    <div class="form-group  has-feedback
        {{if validations.attrs.nickname.isDirty (if validations.attrs.nickname.isValid 'has-success' 'has-error')}}
       ">
      <label for="nickname" class="col-sm-3 control-label">Никнейм</label>
      <div class="col-sm-9">
        {{input value=nickname class='form-control' id='nickname' placeholder='Никнейм' }}
        <span>Только латинские буквы и цифры, без пробелов.</span>
        {{#if validations.attrs.nickname.isDirty}}
          <span class="glyphicon
          {{if validations.attrs.nickname.isInvalid 'glyphicon-remove' }}
            {{if validations.attrs.nickname.isValid 'glyphicon-ok' }}
         form-control-feedback" aria-hidden="true"></span>
        {{/if}}
        {{#if validations.attrs.nickname.isDirty}}
          {{#if validations.attrs.nickname.isInvalid}}
            <div class="help-block">
              {{validations.attrs.nickname.message}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>


    <div class="form-group  has-feedback
        {{if validations.attrs.email.isDirty (if validations.attrs.email.isValid 'has-success' 'has-error')}}
       ">
      <label for="email" class="col-sm-3 control-label">Почта</label>
      <div class="col-sm-9">
        {{input value=email class='form-control' type='email' id='email' placeholder='Почта' }}
        {{#if validations.attrs.email.isDirty}}
          <span class="glyphicon
          {{if validations.attrs.email.isInvalid 'glyphicon-remove' }}
            {{if validations.attrs.email.isValid 'glyphicon-ok' }}
         form-control-feedback" aria-hidden="true"></span>
        {{/if}}
        {{#if validations.attrs.email.isDirty}}
          {{#if validations.attrs.email.isInvalid}}
            <div class="help-block">
              {{validations.attrs.email.message}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>


    <div class="form-group  has-feedback
        {{if validations.attrs.password.isDirty (if validations.attrs.password.isValid 'has-success' 'has-error')}}
       ">
      <label for="password" class="col-sm-3 control-label">Пароль</label>
      <div class="col-sm-9">
        {{input value=password class='form-control' type='password' id='password' placeholder='Пароль' }}
        {{#if validations.attrs.password.isDirty}}
          <span class="glyphicon
          {{if validations.attrs.password.isInvalid 'glyphicon-remove' }}
            {{if validations.attrs.password.isValid 'glyphicon-ok' }}
         form-control-feedback" aria-hidden="true"></span>
        {{/if}}
        {{#if validations.attrs.password.isDirty}}
          {{#if validations.attrs.password.isInvalid}}
            <div class="help-block">
              {{validations.attrs.password.message}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>

    <div class="form-group  has-feedback
        {{if validations.attrs.verifiedPassword.isDirty (if validations.attrs.verifiedPassword.isValid 'has-success' 'has-error')}}
       ">
      <label for="confirm-password" class="col-sm-3 control-label">Еще разок</label>
      <div class="col-sm-9">
        {{input value=verifiedPassword class='form-control' type='password' id='confirm-password' placeholder='Подтвердите пароль' }}
        {{#if validations.attrs.verifiedPassword.isDirty}}
          <span class="glyphicon
          {{if validations.attrs.verifiedPassword.isInvalid 'glyphicon-remove' }}
            {{if validations.attrs.verifiedPassword.isValid 'glyphicon-ok' }}
         form-control-feedback" aria-hidden="true"></span>
        {{/if}}
        {{#if validations.attrs.verifiedPassword.isDirty}}
          {{#if validations.attrs.verifiedPassword.isInvalid}}
            <div class="help-block">
              {{validations.attrs.verifiedPassword.message}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button {{action 'signUp'}} class="btn btn-primary">Подтвердить</button>
</div>
