<p id="notice"><%= notice %></p>

<p>
  <strong>Card:</strong>
  <%= @card.card_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Card set:</strong>
  <%= @card.card_set %>
</p>

<p>
  <strong>Type:</strong>
  <%= @card.type %>
</p>

<p>
  <strong>Faction:</strong>
  <%= @card.faction %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @card.rarity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @card.cost %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @card.attack %>
</p>

<p>
  <strong>Health:</strong>
  <%= @card.health %>
</p>

<p>
  <strong>Text:</strong>
  <%= @card.text %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @card.flavor %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @card.artist %>
</p>

<p>
  <strong>Collectible:</strong>
  <%= @card.collectible %>
</p>

<p>
  <strong>Elite:</strong>
  <%= @card.elite %>
</p>

<p>
  <strong>Img:</strong>
  <%= @card.img_id %>
</p>

<p>
  <strong>Img gold:</strong>
  <%= @card.img_gold_id %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @card.locale %>
</p>

<p>
  <strong>Mechanics:</strong>
  <%= @card.mechanics %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
