{{outlet 'modal'}}
{{#if currentUser.loading}}
  <div class="loader"></div>
  <div class="clearfix"></div>
{{else}}

  {{render 'header'}}

  <div class="main-container container">
    <nav class="margin-bottom">
      <ul class="nav nav-justified">
        <li>{{#link-to 'cards'}}cards{{/link-to}}</li>
        <li>{{#link-to 'decks'}}decks{{/link-to}}</li>
        <li>{{#link-to 'synergies'}}synergies{{/link-to}} </li>
        <li>{{#link-to 'builder'}}builder{{/link-to}}</li>
        <li>{{#link-to 'application'}}application{{/link-to}}</li>
        <li>{{#link-to 'news_index.new'}}news new{{/link-to}}</li>
        <li>{{#link-to 'news_index'}}news{{/link-to}}</li>
      </ul>
    </nav>

    {{outlet}}
  </div>
  {{render 'footer'}}
{{/if}}
