<div class="row">
  <div class="col-md-8">
    <div class="pull-right vote_large">
      {{vote-comp model=model}}
    </div>
    <h2 class="text-capitalize">{{model.name}}</h2>
    <div class="margin-bottom">
      <img class='card__img' src="{{model.img_url}}" alt="{{model.name}}">
      <img class='card__img' src="{{model.img_gold_url}}" alt="{{model.name}}">
    </div>
    <h3>Комментировать</h3>
    <hr>
    {{comments-block commentable=model}}
  </div>
  <div class="col-md-4">

    {{render 'sidebar'}}
  </div>
</div>
{{outlet}}
