  <div class="col-md-8">
    <div class="pull-right vote_large">
      {{vote-comp model=model.card}}
    </div>
    <h2 class="text-capitalize">{{model.card.name}}</h2>
    <div class="margin-bottom">
      <img class='card__img' src="{{model.card.img_url}}" alt="{{model.card.name}}">
      <img class='card__img' src="{{model.card.img_gold_url}}" alt="{{model.card.name}}">
    </div>
    <h3>Комментировать</h3>
    <hr>
    {{comments-block commentable=model.card}}
  </div>
  <div class="col-md-4">
    <div class="bordered margin-bottom">

      <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>{{model.card.name}}</dd>

        <dt>Тип</dt>
        <dd>{{model.card.card_type}}</dd>

        <dt>Сет</dt>
        <dd>{{model.card.card_set}}</dd>

        <dt>Редкость</dt>
        <dd>{{model.card.rarity}}</dd>

        {{#if model.card.race}}
          <dt>Раса</dt>
          <dd>{{model.card.race}}</dd>
        {{/if}}

        {{#if model.card.mechanics}}
          <dt>Механика</dt>
          <dd>
            {{#each model.card.mechanics as |mech|}}
              {{mech.name}}
            {{/each}}
          </dd>
        {{/if}}

        {{#if model.card.durability}}
          <dt>Прод-ть</dt>
          <dd>{{model.card.durability}}</dd>
        {{/if}}


        {{#if model.card.faction}}
          <dt>Фракция</dt>
          <dd>{{model.card.faction}}</dd>
        {{/if}}


        {{#if model.card.artist}}
          <dt>Художник</dt>
          <dd>{{model.card.artist}}</dd>
        {{/if}}

        {{#if model.card.elite}}
          <dt>элитная</dt>
          <dd><span class="glyphicon glyphicon-ok"></span></dd>
        {{/if}}

        {{#if model.card.flavor}}
          <dt>Шуточка</dt>
          <dd>{{model.card.flavor}}</dd>
        {{/if}}
      </dl>
    </div>

    {{top-five decks=model.topDecks cards=model.topCards synergies=model.topSynergies}}
  </div>
{{outlet}}
