<div class="row">
  <div class="col-md-8">
    <div class="row">
      <h1>{{model.name}}</h1>
      <h2>класс:{{model.playerClass.name}}</h2>
      <h2>тип колоды:{{model.deckType.name}}</h2>
    </div>
    <div class="row">
      <div class="well deck-description">
        {{markdown-onebox text=model.description}}
      </div>
    </div>
  </div>
  <div  class="col-md-4">
    <div class="well mana-curve">
      {{#each model.mana as |mana|}}
        <div class="curve-item">
          <div class="curve-item__count">{{mana.count}}</div>
          <div class="curve-item__column" style={{mana.size}}></div>
          <div class="curve-item__name">{{mana.name}}</div>
        </div>
      {{/each}}
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="col-md-10">Название</th>
        <th class="col-md-2">Мана</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.sortedCards as |builderCard|}}
        <tr class="card-list__item"  {{action 'showImage' builderCard on='mouseEnter'}}>
          <td class="col-md-10">
            <b class="{{builderCard.card.rarity}}">{{builderCard.card.name}}</b>
            <i>{{builderCard.showCount}}</i>
          </td>

          <td class="col-md-2">{{builderCard.card.cost}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{outlet}}
