<div class="row">
  <div class="col-md-8">
    <div class="deck-list-item__large-votes pull-right">
      <span {{action 'increaseVote' model}} class="no-select glyphicon glyphicon-thumbs-up  {{if model.userIncreaseVote 'plus-active' 'deck-list-item__plus'}}"></span>
      <b>{{model.votes}}</b>
      <span {{action 'decreaseVote' model}} class="no-select glyphicon glyphicon-thumbs-down  {{if model.userDecreaseVote 'minus-active' 'deck-list-item__minus'}}"></span>
    </div>
    <h2>{{model.name}}</h2>
    <ul class="list-unstyled">
      <li><b>класс:</b> {{model.playerClass.name}}</li>
      <li><b>тип:</b> {{model.deckType.name}}</li>
      <li><b>создана:</b> {{formated-date model.createdAt}}</li>
    </ul>
    <div class="bordered">
      {{model.user.email}}
    </div>
    <h4 class="text-center">Описание</h4>
    <div class="deck-description">
      {{markdown-onebox text=model.description}}
    </div>
  </div>
  <div  class="col-md-4">
    <div class="well mana-curve">
      {{#each model.mana as |mana|}}
        <div class="curve-item">
          <div class="curve-item__count">{{mana.count}}</div>
          <div class="curve-item__column" style={{mana.size}}></div>
          <div class="curve-item__name">{{mana.name}}</div>
        </div>
      {{/each}}
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="col-md-10">Название</th>
        <th class="col-md-2">Мана</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.sortedCards as |builderCard|}}
        <tr class="card-list__item"  {{action 'showImage' builderCard on='mouseEnter'}}>
          <td class="col-md-10">
            <b class="{{builderCard.card.rarity}}">{{builderCard.card.name}}</b>
            <i>{{builderCard.showCount}}</i>
          </td>

          <td class="col-md-2">{{builderCard.card.cost}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{outlet}}
